.App {
  text-align: center;
}

@font-face {
  font-family: 'PulpMedium';
  src: url(../src/Components/Assets/PulpDisplayMedium.ttf) format("truetype");
}

body{
  background-color: #12181b;
}

*{
  font-family: 'PulpMedium';
    color: rgb(240, 255, 255);
    list-style: none;
    scroll-behavior: smooth;
}

button{
  background-color: transparent;
}

input{
  background-color: transparent;
}

a:visited{
  color: rgb(240, 255, 255);
  transition-duration: 1s;
}
a:hover {
  color: rgb(240, 255, 180);
  transition-duration: .5s;
}

a{
  text-decoration: none;
  color: rgb(240, 255, 255);
  transition-duration: .8s;
}

::-webkit-scrollbar{
  opacity: 0;
}

